<div class="container">

    <div class="row post" style="border-radius: 0 0 15px 15px">
        <div class="col-md-6 mt-4">
            <div class="titulo">
                <h1>Seja bem vindo(a)!</h1>
                <p>Compartilhe aqui seus pensamentos e opiniões!</p>
            </div>

            <div class="mt-4">
                <div class="titulo">
                    <h2>Olá, {{nome}}</h2>
                    <p>No que está pensando hoje?</p>
                </div>
            </div>

            <div class="row mb-4 botoes">
                <div class="col-md-6">
                    <button class="btn d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#exampleModal">
                        <mat-icon class="mr-2">add_comment</mat-icon>Nova postagem
                    </button>
                </div>

                <div class="col-md-6">
                    <button routerLink="/comunidade" class="btn btn-custom d-flex align-items-center justify-content-center">
                        <mat-icon class="mr-2">group_users</mat-icon>Comunidade
                    </button>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="img-right"></div>
        </div>

    </div>

    <!-- Início Menu das postagens -->
    <div class="row">
        <div class="col-md-12">

            <ul id="posts" class="nav nav-tabs d-flex justify-content-center my-4" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="allPosts" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Todas as postagens</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a (click)="findByIdUser()" class="nav-link" id="myPosts" data-toggle="tab" href="#my" role="tab" aria-controls="my" aria-selected="false">Minhas postagens</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="themePosts" data-toggle="tab" href="#themes" role="tab" aria-controls="themes" aria-selected="false">Postagens por tema</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <!-- Início todas as postagens -->
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="allPosts">

                    <div class="row d-flex justify-content-center my-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input [(ngModel)]="tituloPost" class="form-control" type="text" name="titulo" id="titulo" placeholder="Digite para pequisar.." (keyup)="findByTituloPostagem()">
                            </div>
                        </div>
                    </div>
                    <!-- Início da 1° postagem -->
                    <div class="postagem" *ngFor="let item of listaPostagens | orderBy: key : reverse">
                        <div class="row mt-2 px-2 d-flex align-items-center post articles">

                            <div class="col-md-3">
                                <img class="post-content" src="{{item.fotoPost}}">
                            </div>

                            <div class="col-md-9">

                                <h2 class="mb-1">{{item.titulo}}</h2>
                                <!-- Início das informações da postagem -->
                                <div class="info d-flex">
                                    <div class="d-flex align-items-center mr-5">
                                        <mat-icon class="mr-2">color_lens</mat-icon>{{item.tema.descricao}}
                                    </div>
                                    <div class="d-flex align-items-center mr-5">
                                        <mat-icon class="mr-2">event</mat-icon>{{item.data | date: 'dd/MM/yyyy'}}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="mr-2">account_box</mat-icon>{{item.usuario.nome}}
                                    </div>
                                </div>
                                <!-- Fim das informações da postagem -->

                                <div class="msg">
                                    <p class="mt-3">{{item.texto}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Fim da 1° postagem -->

                </div>
                <!-- Fim todas as postagens -->

                <!-- Início minhas postagens-->
                <div class="tab-pane fade" id="my" role="tabpanel" aria-labelledby="myPosts">

                    <div class="postagem" *ngFor="let item of user.postagem | orderBy: key : reverse">
                        <div class="row mt-2 px-2 d-flex align-items-center post articles">

                            <div class="col-md-3">
                                <img class="post-content" src="{{item.fotoPost}}">
                            </div>

                            <div class="col-md-9">

                                <h2 class="mb-1">{{item.titulo}}</h2>
                                <!-- Início das informações da postagem -->
                                <div class="info d-flex">
                                    <div class="d-flex align-items-center mr-5">
                                        <mat-icon class="mr-2">color_lens</mat-icon>{{item.tema.descricao}}
                                    </div>
                                    <div class="d-flex align-items-center mr-5">
                                        <mat-icon class="mr-2">event</mat-icon>{{item.data | date: 'dd/MM/yyyy'}}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="mr-2">account_box</mat-icon>{{nome}}
                                    </div>
                                </div>

                                <div class="msg">
                                    <p class="mt-3">{{item.texto}}</p>
                                </div>

                                <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3"><i class="fas fa-edit mr-2"></i>Editar</a>
                                <a [routerLink]="['/postagem-delete', item.id]" class="text-danger"><i class="fas fa-trash-alt mr-2"></i>Apagar</a>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Fim minhas postagens-->

                <!-- Início postagens por tema -->
                <div class="tab-pane fade" id="themes" role="tabpanel" aria-labelledby="themePosts">

                    <div class="row d-flex justify-content-center my-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input [(ngModel)]="descTema" class="form-control" type="text" name="desc" id="desc" placeholder="Digite um tema para pequisar.." (keyup)="findByTema()">
                            </div>
                        </div>
                    </div>

                    <div *ngFor='let tema of listaTemas | orderBy: key : reverse'>
                        <div class="postagem" *ngFor="let item of tema.postagem">
                            <div class="row mt-2 px-2 d-flex align-items-center post articles">

                                <div class="col-md-3">
                                    <img class="post-content" src="{{item.fotoPost}}">
                                </div>

                                <div class="col-md-9">

                                    <h2 class="mb-1">{{item.titulo}}</h2>
                                    <!-- Início das informações da postagem -->
                                    <div class="info d-flex">
                                        <div class="d-flex align-items-center mr-5">
                                            <mat-icon class="mr-2">event</mat-icon>{{item.data | date: 'dd/MM/yyyy'}}
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <mat-icon class="mr-2">account_box</mat-icon>{{item.usuario.nome}}
                                        </div>
                                    </div>

                                    <div class="msg">
                                        <p class="mt-3">{{item.texto}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Fim postagens por tema -->

            </div>
        </div>
    </div>
    <!-- Fim Menu das postagens -->



</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title d-flex align-items-center" id="exampleModalLabel">
                    <mat-icon class="mr-2">add_comment</mat-icon>Nova postagem</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="Titulo da postagem">
                </div>

                <div class="form-group">
                    <label for="texto">Texto</label>
                    <textarea [(ngModel)]="postagem.texto" class="form-control" name="text" id="texto " rows="3" placeholder="Conteúdo da postagem"></textarea>
                </div>

                <div class="form-group">
                    <label for="foto">Capa da postagem</label>
                    <input [(ngModel)]="postagem.fotoPost" type="text" class="form-control" id="foto" placeholder="URL da foto">
                </div>

                <div class="form-group">
                    <label (change)="findByIdTema()" for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/temas"> cadastre um novo</a></label>
                    <select class="form-control" id="tema" name="tema" [(ngModel)]="idTema">
                        <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
                    </select>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom text-white" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn text-white" data-dismiss="modal" (click)="publicar()">Publicar</button>
            </div>
        </div>
    </div>
</div>