<div class="wrapper" (mouseover)='usuarioLogado()'>
    <!-- Sidebar  -->
    <nav *ngIf='auth.logado()' id="sidebar">
        <div class="sidebar-header">

            <div class="card bg-dark text-white">
                <img id="bg-profile" src="/assets/imagens/backgrounds/bg_1.jpg" class="card-img">
                <div class="card-img-overlay">
                    <div class="profile d-flex flex-column align-items-center justify-content-center">
                        <div id="user"></div>
                        <h4 id="nameUser" class="card-title mt-2">...</h4>
                    </div>
                </div>
            </div>

        </div>

        <ul id="side-items" class="list-unstyled components">
            <li>
                <a routerLink="/feed">
                    <i class="far fa-comment-dots mx-2"></i>Feed</a>
            </li>
            <li>
                <a routerLink="/temas">
                    <i class="fas fa-palette mx-2"></i>Temas</a>
            </li>

            <li>
                <a href="#">
                    <i class="far fa-question-circle mx-2"></i>Sobre</a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-users mx-2"></i>Comunidade</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-cog mx-2"></i>Configurações</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">
                            <i class="fas fa-user-cog mx-2"></i>Perfil</a>
                    </li>
                    <li>
                        <a (click)="sair()">
                            <i class="fas fa-sign-out-alt mx-2"></i>Sair</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav *ngIf='auth.logado()' class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button (click)='toggle()' type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void()" (click)="sair()"><i class="fas fa-sign-out-alt mr-1"></i>Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Início do conteúdo da página -->
        <router-outlet></router-outlet>
        <app-rodape *ngIf='auth.logado()'></app-rodape>
        <!-- Fim do conteúdo da página -->
    </div>